# Ignorar la carpeta build y dependencias de Gradle
.gradle/
out/
bin/
build/

# Archivos generados por el wrapper de Gradle
gradlew
gradlew.bat

# IDEs (Eclipse, IntelliJ, VSCode)
*.iml
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
